@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

* {
  font-family: "Prata", serif;
  color: #fff;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: bisque;
}

.hidden {
  display: none;
}

#head {
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
  line-height: 100px;
}

#head::before {
  content: "";
  background-image: url(/images/sweden_forest.jpg);
  opacity: 0.8;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#head h1 {
  font-size:xx-large;
  color: #000;
  position: relative;
}

#body {
  width: 100%;
  height: 30vh;
  /* float: left; */
  background: #573a22af;
  /* padding: 20px; */

}

input,
select,
textarea {
  color: black;
}

#right-side {
  width: 50%;
  float: right;
  background-color: rgba(25, 25, 25, 0.6);
  padding: 20px;
}

#quote span:first-child {
  font-size: 1.5em;
  text-shadow: 2px 1px #3399CC;
  font-style: italic bold;
}

#quote span:last-child {
  text-align: right;
}

#footer {
  width: 100%;
  /* height: 20vh; */
  background: #3a2617af;
}